body {
    background-image: url(https://a-z-animals.com/media/2021/11/Shiba-Inu-1-1024x535.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    text-align: center;
  }

  .navbar {
    width: 800px;
    font-family: "Arial";
    background-color: rgba(90, 90, 90, 0.987);
    opacity: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    align-items: center
  }

  .navbar button {
    width: 120px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}



.container {
        width: 800px;
        font-family: "Arial";
        background-color: rgb(55, 55, 55);
        opacity: 100%;
        margin: auto;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
}

p {
    text-align: center;
    margin-bottom: 1px;
}